<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.dotfiles.chrome-debug</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/Google Chrome.app/Contents/MacOS/Google Chrome</string>
    <string>--remote-debugging-port=9222</string>
    <string>--user-data-dir={{ .chezmoi.homeDir }}/.local/share/chrome-debug</string>
    <string>--no-first-run</string>
    <string>--no-default-browser-check</string>
    <string>--disable-background-networking</string>
    <string>--disable-client-side-phishing-detection</string>
    <string>--disable-sync</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>StandardOutPath</key>
  <string>{{ .chezmoi.homeDir }}/.local/share/dotfiles/logs/chrome-debug.log</string>
  <key>StandardErrorPath</key>
  <string>{{ .chezmoi.homeDir }}/.local/share/dotfiles/logs/chrome-debug.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>LANG</key>
    <string>C.UTF-8</string>
    <key>HOME</key>
    <string>{{ .chezmoi.homeDir }}</string>
  </dict>
</dict>
</plist>
